* {
  box-sizing: border-box;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;  
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #fff;
  color: #13191b;
  line-height: 1.7;
  font-size: 13px;
}
.main-wrapper{
  padding-bottom:50px;
}
.img-wrap{
  position: relative;
  width:100%;
}
.img-wrap img{
  width:100%;
  position: absolute;
}
.header{
  width: 100%;
  opacity: 1;
  padding-top: 40px;
  position: absolute;
}
.header-contact{
  width:85%;
  margin:0 auto;
}
.header-logo img{
  float:left;
  cursor: pointer;
}
.header-logo img:hover{
  opacity:0.7;
}
.header-list{
  float:right;
  padding-top:20px;
}
.header-list li{
  float:left;
}
.header-list li a{
  color:white;
  margin-right:35px;
  padding-bottom:8px;
  font-size:15px;
}
.header-list li a:hover{
  border-bottom: 2px solid white;
}
.main-logo{
  width: 100%;
  opacity: 1;
  position: absolute;
}
.heading-wrapper{
  padding:750px 0 100px 0;
  background-color:#f6f6f6;
  text-align:center;
}
.heading-contact{
  width:30%;
  margin:0 auto;
}
.heading-wrapper h1{
  font-size:44px;
  padding-bottom:70px;
}
.heading-wrapper p{
  font-size:20px;
  text-align: left;
}
.heading-logo{
  padding:40px 0 ;
}
.product-wrapper{
  padding-bottom:70px;
}
.container{
  width:70%;
  margin:0 auto;
}
.product-list{
  padding-bottom:80px;
  position:relative;
}

.product-left{
  float:left;
}
.product-right{
  float:right;
}
.heading{
  font-size:30px;
  font-weight: normal;
}
.btn{
  display:inline-block;
  width:150px;
}
.more{
  border:1px solid black;
  text-align:center;
  padding:13px 0;
  color:black;
}
.fa-angle-right {
  font-size:20px;
  position: absolute;
  right:2%;
  top:18%;
}
.item img{
  position: absolute;
  top:15px;
  left:130px;
  width:10px;
  height:10px;
}
.btn:hover{
  background-color:black;
  color:white;
}
.product-contact{
  display:flex;
  padding-bottom:60px;
}
.product-item{
  width:33.333333%;
  padding-top:30px;
  padding-right:20px;
}
.product-item img{
  width:100%;
}
.product-item p{
  font-size:20px;
  font-weight: bold;
}
.product2-wrapper{
  padding-bottom:120px;
}
.product2-contact{
  display:flex;
}
.product2-item{
  width:33.333333%;
  padding-right:20px;
}
.product2-item img{
  width:100%;
}
.product2-item p{
  font-size:20px;
  font-weight: bold;
}
.news-contact{
  padding-top:30px;
}
.news{
  display:flex;
  padding-bottom:50px;
}
.news-item{
  width:40%;
}
.news-item img{
  width:100%;
}
.news-textarea{
  padding-left:30px;
  width:60%;
}
.news-textarea h3{
  font-size:18px;
  padding-bottom:10px;
}
.date{
  font-size:12px;
  padding-bottom:20px;
}
.text{
  font-size:13px;
}
#news{
  background-color:#f6f6f6;
}
.top{
  text-align: center;
}
.top-btn{
  width:30px;
  height:30px;
  cursor:pointer;
}
.top-btn:hover{
  opacity:0.7;
}
.btn-wrapper{
  padding:40px 0;
}
.btn-contact{
  text-align: center;
}
.btn1{
   display:inline-block;
   width:150px;
   padding:15px 0;
   margin-right:20px;
}
.facebook{
  color: #4871a9;
  border:1px solid  #4871a9;
}
.facebook:hover{
  color:white;
  background-color:#4871a9;
}
.twitter{
  color:#70bdd3;
  border:1px solid #70bdd3;
}
.twitter:hover{
  color:white;
  background-color:#70bdd3;
}
.bookmark{
  color: #2f9bcd;
   border:1px solid #2f9bcd;
}
.bookmark:hover{
  color:white;
  background-color:#2f9bcd;
}
.footer{
  background-color:#939899;
  padding:35px 0;
  text-align:center;
}
.footer-list span a{
  padding-right:42px;
  color:white;
  font-size:14px;
}
.footer-list span a:hover{
  opacity:0.7;
}
footer{
  background-color:#656c6e;
  padding:35px 0;
}
.footer-item img{
  cursor: pointer;
}
.footer-item img:hover{
  opacity:0.7;
}
.footer-p{
  text-align:right;
}
.footer-p p{
  color:white;
  
}
.footer-p{
  padding-top:40px;
  font-size:15px;
  text-align: center;
}
.footer-p1{
  font-size:10px;
}
  
  




